form.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 40rem;

    input, textarea {
        padding: 1rem;
        background-color: var(--bg);
        color: var(--text);
        border: 1px solid var(--text);
        outline-color: var(--text);
        outline-offset: 8px;
        outline-width: 1px;
        border-radius: 6px;

        &[data-error="true"] {
            border-color: var(--error);
        }
    }

    p.error {
        color: var(--error);
        font-size: 0.9rem;
        margin-top: 0.5rem;
    }

    button[type="submit"] {
        padding: 1rem;
        background-color: var(--bg);
        color: var(--text);
        border: 1px solid var(--text);
        outline-color: var(--text);
        outline-offset: 8px;
        outline-width: 1px;
        border-radius: 6px;
        height: 3.5rem;
        cursor: pointer;

        &:not(:disabled){
            &:hover {
                background-color: var(--text);
                color: var(--bg);
            }
    
            &:active {
                filter: brightness(1.4);
            }
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }

    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }

    span.spinner {
        display: none;
        width: 1rem;
        height: 1rem;
        border: 2px solid var(--text);
        border-top-color: transparent;
        border-radius: 50%;
        animation: spin 1s linear infinite;
        margin: 0 auto;
        display: block;
    }
}

div.form-control {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

div.success-container {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem,

    p {
        text-align: center;;
        font-size: 1.5rem;
        margin: 0;
    }
}