---
const year = new Date().getFullYear();
---

<footer>
  <ul class="social">
    <a target="_blank" href="https://github.com/deveahub"><li>Github</li></a>
    <a target="_blank" href="https://twitter.com/rriosdev"><li>Twitter</li></a>
    <a target="_blank" href="https://www.linkedin.com/in/rriosper/"
      ><li>Linkedin</li></a
    >
    <a href="mailto:roberto@deveahub.com"><li>Email</li></a>
  </ul>
  <p class="year">
    Roberto Ríos, {year}
  </p>
  <ul class="langs">
    <a href={Astro.url.pathname.replace(/\/es|\/en/, "/es")}>es</a>
    <a href={Astro.url.pathname.replace(/\/es|\/en/, "/en")}>en</a>
  </ul>
</footer>

<style scoped lang="scss">
  footer {
    bottom: 0;
    position: sticky;
    background-color: var(--bg-opacity);
    backdrop-filter: blur(11px);
    display: flex;
    padding: 0.5rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  p.year {
    font-size: 0.8rem;
    font-weight: 100;
    display: none;
  }

  @media (min-width: 720px) {
    p.year {
      display: block;
    }
  }

  @media (min-width: 1240px) {
    footer {
      padding: 0.5rem 0;
    }
  }

  ul.social {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  ul.langs {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
</style>
