---
import { Icon } from "astro-icon/components";

const year = new Date().getFullYear();
---

<footer>
  <ul class="social">
    <li>
      <a
        title="Go to Github"
        target="_blank"
        href="https://github.com/deveahub"
      >
        <Icon name="github" />
      </a>
    </li>
    <li>
      <a
        title="Go to Twitter"
        target="_blank"
        href="https://twitter.com/rriosdev"
      >
        <Icon name="twitter" /></a
      >
    </li>
    <li>
      <a
        title="Go to Linkedin"
        target="_blank"
        href="https://www.linkedin.com/in/rriosper/"><Icon name="linkedin" /></a
      >
    </li>
  </ul>
  <p class="year">
    Roberto Ríos, {year}
  </p>
  <ul class="langs">
    <li><a href={Astro.url.pathname.replace(/\/es|\/en/, "/es")}>es</a></li>
    <li><a href={Astro.url.pathname.replace(/\/es|\/en/, "/en")}>en</a></li>
  </ul>
</footer>

<style scoped lang="scss">
  footer {
    bottom: 0;
    position: sticky;
    background-color: var(--bg-opacity);
    backdrop-filter: blur(11px);
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  p.year {
    font-size: 0.8rem;
    font-weight: 100;
    display: none;
  }

  @media (min-width: 720px) {
    p.year {
      display: block;
    }
  }

  @media (min-width: 1240px) {
    footer {
      padding: 1rem 0;
    }
  }

  ul.social {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;

    a {
      svg {
        width: 1.2rem;
        height: 1.2rem;
        color: var(--text);
      }
    }
  }

  ul.langs {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
</style>
