---
import Circle from "../components/circle.astro";
import { getURLWithLang } from "../i18n/utils";

const links = ["works", "trajectory", "contact"].map((link) => {
  return {
    href: getURLWithLang("/" + link, Astro.url),
    text: link,
  };
});

const rootHref = getURLWithLang("/", Astro.url);
---

<header>
  <a class="logo" href={rootHref}>
    <Circle />
     rrios.dev
  </a>
  <ul class="menu">
    {
      links.map((link) => (
        <li>
          <a href={link.href}>{link.text}</a>
        </li>
      ))
    }
  </ul>
</header>

<style scoped lang="scss">
  header {
    position: sticky;
    top: 0;
    background-color: var(--bg-opacity);
    backdrop-filter: blur(11px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 1rem 0;
    align-items: center;
    z-index: 1;
    gap: 0.5rem;
  }

  @media (min-width: 1240px) {
    header {
      padding: 1rem 0;
    }
  }

  a.logo {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-text);
    gap: 1rem;
  }

  ul.menu {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    padding: 0;
  }

  ul.menu a {
    font-size: 1.2rem;
  }
</style>
