---
import Circle from "@/components/circle.astro";
---

<header>
  <a class="logo" href="/">
    <Circle />
     rrios.dev
  </a>
  <ul class="menu">
    <li><a href="/work">work</a></li>
    <li><a href="/trajectory">trajectory</a></li>
    <li><a href="/contact">contact</a></li>
  </ul>
</header>

<style scoped lang="scss">
  header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
  }

  @media (min-width: 1240px) {
    header {
      padding: 1rem 0;
    }
  }

  a.logo {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-text);
    gap: 1rem;
  }

  ul.menu {
    display: flex;
    list-style-type: none;
    gap: 2rem;
  }

  ul.menu a {
    font-size: 1.2rem;
  }
</style>
